.movie{
	text-decoration: none;
	color:#D5D3D3;
	font-size: 12px;
	margin-top:10%; 
	display: inline-block;
}

.baner{
	background: url(../img/banner.jpg) no-repeat;
	height:500%;
	background-size: 100%;
}

.icono{
	margin-top: 30px;
	
}
.baner img{
	width:8%;
	margin-top:40%;
	margin-left: 35%;
}

.big{
	background: #383838;

}
.hero{
	color: #ECDADA;
	font-size: 20px;
}
.bighero{
	padding: 3%;
	border-top:1px solid #ECDADA;
}
.verde{
	color:#3DBD67;
	border:1px solid #3DBD67;
	padding: 2%;
	margin-left: 3%;
	font-size: 12px;
	border-radius: 6px 6px 6px 6px;
	text-align: center;
}

.hall{
	font-size: 14px;
	color:#E5DCDC;
	margin-top: 4%;
}

.textoizquierdo{
	font-size: 14px;
	color:#E5DCDC;
	margin-top: 6%;
}

.boton{
	-webkit-border-radius:6;
	-moz-border-radius:6;
	border-radius: 6px;
	background: #F1B410;
	padding: 7% 10%;
	margin-top: 6%;
}
.botondos{
	-webkit-border-radius:6;
	-moz-border-radius:6;
	border-radius: 6px;
	background: #DF9827;
	padding: 7% 10%;
	margin-top: 10%;
	margin-bottom: 10%;
}

img{
	width: 100%;
}
.fotos{
	background: #C6B41E;
	padding: 3%;
	width: 100%;
}
.fotos div img{
	width: 140px;
	height: 150px;
	padding: 2%;
}
.col{
	padding: 10px;
}

h3{
	font-size: 24px;
	color: #E9E3E3;
}

h1{
	font-size: 36px;
}

h5{
	color:#E8B967;
	padding: 2%
}

.new{
	margin: 3%;
}

.izquierda{
	margin: 5%;
}

.primera{
	margin-top:15%;
}

.raya{
	border-bottom: 1px solid #E9E3E3;
	padding: 3%;
}
p{
	font-size: 10px;
}

.cuatro{
	padding: 5% 0%;
}

.cuatro div img{
	width: 240px;
	height: 250px;
	padding:5% 
}

.footer{
	background: #DED9D9;
	padding: 5%;
}
.final{
	margin: 2%;
}

.texto{
	color: #E9E3E3;
}
}